@import 'tailwindcss';

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/Avenir/Avenir Regular/Avenir Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/Avenir/Avenir Book/Avenir Book.ttf') format('truetype');
	font-weight: 450;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/Avenir/Avenir Light/Avenir Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/Avenir/Avenir Heavy/Avenir Heavy.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/Avenir/Avenir Black/Avenir Black.ttf') format('truetype');
	font-weight: 00;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-avenir: 'Avenir', sans-serif;
	--font-inter: 'Inter Variable', sans-serif;
	--color-primary: #ffee00;
	--color-txt: #ededed;
	--color-bg: #080c0f;
	--color-accent: #0c7ded;
	--color-txt-secondary: #808183;
	--color-txt-tertiary: #4c4d4e;
	--color-disabled: #d9d9d9;
	--color-margin-black: #000000;
	--color-margin-white: #bababa;
	--color-margin-gray: #848484;
	--color-border-gray: #606364;
	--color-margin-bottom: #2c2c2c;
	--color-reference: #969798;
}

.conic-border {
	position: relative;
}

.conic-border::before {
	content: '';
	position: absolute;
	inset: -1;
	width: calc(100% + 1px);
	height: calc(100% + 1px);
	border-radius: inherit;
	background: conic-gradient(
		var(--color-margin-white),
		var(--color-margin-gray),
		var(--color-margin-gray),
		var(--color-margin-white),
		var(--color-margin-white)
	);
	z-index: -1;
}
